@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html {
    margin: 0;
}

body {
    font-family: 'Inter';
}

header {
    display: flex;
    align-items: start;
    width: 100%;
    background-color: #dedede;

    user-select: none;
}

h1, h2, h3, p { margin: 0; }

header nav { display: none; }

nav.mobile { display: block; }

header h1 {
    padding: 14px; 
    font-size: 24px
}

nav.mobile { display: none; }

nav.mobile.show { display: block; }

nav.mobile a {
    color: #000000;
    text-decoration: none;
}

nav.mobile ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.mobile ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #dedede;
    cursor: pointer;

    transition: all 150ms ease-in-out;
}

nav.mobile ul li:hover {
    font-weight: bold;
    background-color: #adadad;
    border-bottom: 3px solid black;
}

nav.mobile ul li.active {
    font-weight: bold;
    border-bottom: 3px solid black;
}

button.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #dedede;
    border: none;
    
    transition: all 150ms ease-in-out;
}

button.mobile:hover {
    background-color: #adadad;

}

main { padding: 24px; }

main p {
    margin-top: 10px;
    margin-bottom: 10px;
}